html {
    height: 100%;
}

body {
    background-color: #2f3035;
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
header {
    height: 100px;
    text-align: center;
}
nav {
    background-color: rgba(0, 0, 0, 0.332);
    height: 25px;
    text-align: center;
    padding-top: 6px;
}
main {
    height: 250px;
    text-align: center;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px;
}
footer {
    background-color: rgba(1, 1, 1, 0.365);
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 90px;
}

h1 {
    font-size: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}
/* Compound Selector */
nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

footer p {

    font-size: 12px;
    text-align: center;
    color: antiquewhite;
    
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    /* padding-right: 60px; */
}